// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
// sidebar
.toc nav ul li {
  margin-bottom: 5px;
}

.toc nav ul li.h2 {
  font-size: 16px;
}

.toc nav ul li.h3 {
  font-size: 14px;
  margin-left: 20px;
}

.toc nav ul li.h4 {
  font-size: 12px;
  margin-left: 40px;
}


.sidebar-nav a:hover {
  color: #007bff;
}



