// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* Sidebar navigation style */
.sidebar-nav {
  position: fixed; /* Fixed position on the side */
  top: 50px; /* Adjust according to your header height */
  left: 0;
  width: 250px; /* Adjust width as needed */
  padding: 20px;
  background-color: #f0f0f0; /* Background color */
}

/* Style for links in the sidebar */
.sidebar-nav a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar-nav a:hover {
  color: #555;
}


