// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
// sidebar
.sidebar {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 18px;
  margin-top: 0;
}

.sidebar nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar nav ul ul {
  margin-left: 20px;
}

.sidebar nav a {
  color: #333;
  text-decoration: none;
}

.sidebar nav a:hover {
  color: #000;
}

.sidebar nav .active > a {
  font-weight: bold;
}




